 {% extends 'base.html' %}
 {% load static %}
 {% block content %}
 <!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for cart in cart_views %}
                      <tr>
                        <td><a class="remove" href="/delete_cart/{{cart.slug}}"><fa class="fa fa-close"></fa></a></td>
                        <td><a href="#"><img src="{{cart.items.image.url}}" alt="img"></a></td>
                        <td><a class="aa-cart-title" href="product-detail/{{cart.slug}}">{{cart.items.name}}</a></td>
                        <td>Rs. {% if cart.items.discounted_price > 0 %}
                          {{cart.items.discounted_price}}
                          {% else %}
                          {{cart.items.price}}
                          {% endif %}
                        </td>
                        <td><input class="aa-cart-quantity" type="number" value="{{cart.quantity}}"></td>
                        <td>Rs. {{cart.total}}</td>
                      </tr>
                    {% endfor %}
                      <tr>
                        <td colspan="6" class="aa-cart-view-bottom">
                          <div class="aa-cart-coupon">
                            <input class="aa-coupon-code" type="text" placeholder="Coupon">
                            <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                          </div>
                          <input class="aa-cart-view-btn" type="submit" value="Update Cart">
                        </td>
                      </tr>
                      </tbody>
                  </table>
                </div>
             </form>
             <!-- Cart Total view -->
             <div class="cart-view-total">
               <h4>Cart Totals</h4>
               <table class="aa-totals-table">

                 <tbody>

                   <tr>
                     <th>Total</th>
                     <td>Rs. {{total_price}}</td>

                   </tr>
                 </tbody>

               </table>
               <a href="/checkout/" class="aa-cart-view-btn">Proceed to Checkout</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->


  <!-- Subscribe section -->
  <section id="aa-subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>Subscribe our newsletter </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
            <form action="" class="aa-subscribe-form">
              <input type="email" name="" id="" placeholder="Enter your Email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Subscribe section -->

{% endblock %}