{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- Cart view section -->
 <section id="checkout">
   <form action="/placeorder/" method="POST">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="checkout-area">
          <form action="">
            <div class="row">
              <div class="col-md-8">
                <div class="checkout-left">
                  <div class="panel-group" id="accordion">

                    <!-- Billing Details -->
                    <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Billing Details
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">

                            {% csrf_token %}
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" required name="fname" placeholder="First Name*">
                              </div>                             
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" required name="lname" placeholder="Last Name*">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="email" required name="email" placeholder="Email Address*">
                              </div>                             
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="tel" required name="phone" placeholder="Phone*">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <select required name="province">
                                  <option value="0">Select Your State</option>
                                  <option value="province no.1">Province No. 1</option>
                                  <option value="madesh province">Madhesh Province</option>
                                  <option value="bagmati province">Bagmati Province</option>
                                  <option value="bagmati province">Gandaki Province</option>
                                  <option value="bagmati province">Lumbini Province</option>
                                  <option value="bagmati province">Karnali Province</option>
                                  <option value="bagmati province">Mahakali Province</option>
                                </select>
                              </div>                             
                            </div>                            
                          </div>
                          <div class="row">

                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <input type="text" required name="city" placeholder="City / Town*">
                              </div>
                            </div>
                          </div>   
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" required name="district" placeholder="District*">
                              </div>                             
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" required name="zipcode" placeholder="Postcode / ZIP*">
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkout-right">
                  <h4>Order Summary</h4>
                  <div class="aa-order-summary-area">
                    <table class="table table-responsive">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for item in carts %}
                        <tr>
                          <td>{{item.items.name}} <strong> x {{item.quantity}}</strong></td>
                          <td>${% if item.items.discounted_price > 0 %}
                              {{cart.discounted_price}}
                          {% else %}
                          {{item.price}}
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Subtotal</th>
                          <td>$750</td>
                        </tr>
                         <tr>
                          <th>Tax</th>
                          <td>$35</td>
                        </tr>
                         <tr>
                          <th>Total</th>
                          <td>$785</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <h4>Payment Method</h4>
                  <div class="aa-payment-method">
                    <label for="cashdelivery"><input type="radio" id="cashdelivery" value = 'cash on delivery'name="payment_mode"> Cash on Delivery </label>
                    <label for="paypal"><input type="radio" id="paypal" value = 'paypal' name="payment_mode" checked> Via Paypal </label>
                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
                    <input type="submit" value="Place Order" class="aa-browse-btn">

                  </div>
                </div>
              </div>
            </div>
          </form>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->

{% endblock %}
