{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Start slider -->
  <section id="aa-slider">
    <div class="aa-slider-area">
      <div id="sequence" class="seq">
        <div class="seq-screen">
          <ul class="seq-canvas">
            <!-- single slide item -->
            {% for slide in slider %}
            <li>
              <div class="seq-model">
                <img src="{{slide.image.url}}" alt="Men slide img" />
              </div>
              <div class="seq-title">
               <span>{{slide.title}}</span>
                <h2>{{slide.name}}</h2>
                <p>{{slide.descript}}</p>
                <a href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- slider navigation btn -->
        <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
          <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
          <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
        </fieldset>
      </div>
    </div>
  </section>
  <!-- / slider -->
  <!-- Start Promo section -->
  <section id="aa-promo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-promo-area">
            <div class="row">
              <!-- promo left -->
              <div class="col-md-5 no-padding">
                {% for ad in ads %}
                {% if ad.rank == 1 %}
                <div class="aa-promo-left">
                  <div class="aa-promo-banner">
                    <img src="{{ad.image.url}}" alt="img">
                    <div class="aa-prom-content">
                      <span>{{ad.title}}</span>
                      <h4><a href="#">{{ad.name}}</a></h4>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              <!-- promo right -->
              <div class="col-md-7 no-padding">
                <div class="aa-promo-right">
                  <div class="aa-single-promo-right">
                    {% for ad in ads %}
                    {% if ad.rank == 2 %}
                    <div class="aa-promo-banner">                      
                      <img src="{{ad.image.url}}" alt="img">
                      <div class="aa-prom-content">
                        <span>{{ad.title}}</span>
                        <h4><a href="#">{{ad.name}}</a></h4>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div class="aa-single-promo-right">
                    {% for ad in ads %}
                    {% if ad.rank == 3 %}
                    <div class="aa-promo-banner">
                      <img src="{{ad.image.url}}" alt="img">
                      <div class="aa-prom-content">
                        <span>{{ad.title}}</span>
                        <h4><a href="#">{{ad.name}}</a></h4>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div class="aa-single-promo-right">
                    {% for ad in ads %}
                    {% if ad.rank == 4 %}
                    <div class="aa-promo-banner">
                      <img src="{{ad.image.url}}" alt="img">
                      <div class="aa-prom-content">
                        <span>{{ad.title}}</span>
                        <h4><a href="#">{{ad.name}}</a></h4>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div class="aa-single-promo-right">
                    {% for ad in ads %}
                    {% if ad.rank == 5 %}
                    <div class="aa-promo-banner">
                      <img src="{{ad.image.url}}" alt="img">
                      <div class="aa-prom-content">
                        <span>{{ad.title}}</span>
                        <h4><a href="#">{{ad.name}}</a></h4>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Promo section -->

  <!-- popular section -->
  <section id="aa-popular-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-popular-category-area">
              <!-- start product navigation -->
              <h2>HOT</h2>


                <!-- Start  popular category -->

                  <ul class="aa-product-catg aa-popular-slider">
                    <!-- start single product item -->
                    {% for item in hot %}
                    <li>
                      <figure>
                        <a class="aa-product-img" href="/product-detail/{{item.slug}}"><img src="{{item.image.url}}"></a>
                        <a class="aa-add-card-btn" href="/add_to_cart/{{item.slug}}"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="/product-detail/{{item.slug}}">{{item.name}}</a></h4>
                          <span class="aa-product-price">Rs {% if item.discounted_price > 0 %}
                          {{item.discounted_price}}</span>
                          <span class="aa-product-price"><del>Rs. {{item.price}}</del></span>
                           <span class="aa-product-price">{% else %}
                          {{item.price}}
                           {% endif %}</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="/add_to_wishlist/{{item.slug}}" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-hot" href="#">{{item.labels}}!</span>
                    </li>
                    {% endfor %}
                  </ul>


                <!-- / latest product category -->              
              </div>
            </div>
          </div> 
        </div>

<a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
    </div>
  </section>

  <section id="aa-latest-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-popular-category-area">
              <!-- start product navigation -->
              <h2>LATEST</h2>


                <!-- Start  popular category -->

                  <ul class="aa-product-catg aa-popular-slider">
                    <!-- start single product item -->
                    {% for item in new %}
                    <li>
                      <figure>
                        <a class="aa-product-img" href="/product-detail/{{item.slug}}"><img src="{{item.image.url}}"></a>
                        <a class="aa-add-card-btn" href="/add_to_cart/{{item.slug}}"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="/product-detail/{{item.slug}}">{{item.name}}</a></h4>
                          <span class="aa-product-price">Rs. {% if item.discounted_price > 0 %}
                          {{item.discounted_price}}</span>
                          <span class="aa-product-price"><del>Rs. {{item.price}}</del></span>
                           <span class="aa-product-price">{% else %}
                          {{item.price}}
                           {% endif %}</span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="/add_to_wishlist/{{item.slug}}" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">{{item.labels}}!</span>
                    </li>
                    {% endfor %}
                  </ul>


                <!-- / latest product category -->
              </div>
            </div>
          </div>
        </div>

<a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
    </div>
  </section>

<section id="aa-sales-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-popular-category-area">
              <!-- start product navigation -->
              <h2>SALE</h2>


                <!-- Start  popular category -->

                  <ul class="aa-product-catg aa-popular-slider">
                    <!-- start single product item -->
                    {% for item in sales %}
                    <li>
                      <figure>
                        <a class="aa-product-img" href="/product-detail/{{item.slug}}"><img src="{{item.image.url}}"></a>
                        <a class="aa-add-card-btn" href="/add_to_cart/{{item.slug}}"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="/product-detail/{{item.slug}}">{{item.name}}</a></h4>
                          <span class="aa-product-price">Rs. {% if item.discounted_price > 0 %}
                          {{item.discounted_price}}</span>
                          <span class="aa-product-price"><del>Rs. {{item.price}}</del></span>
                           <span class="aa-product-price">{% else %}
                          {{item.price}}
                           {% endif %}</span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="/add_to_wishlist/{{item.slug}}" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sold-out" href="#">{{item.labels}}!</span>
                    </li>
                    {% endfor %}
                  </ul>


                <!-- / latest product category -->
              </div>
            </div>
          </div>
        </div>

<a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
    </div>
  </section>
  <!-- Support section -->
  <section id="aa-support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-support-area">
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-truck"></span>
                <h4>FREE SHIPPING</h4>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-clock-o"></span>
                <h4>30 DAYS MONEY BACK</h4>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-phone"></span>
                <h4>SUPPORT 24/7</h4>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Support section -->


 {% endblock %}