{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="checkout">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="checkout-area">         
            <h2>Order View
                <a href='/order/' class='btn btn-warning'>Back</a>
            </h2>
            <div class="col-md-4">
                <h4>Shipping Details</h4>
                <hr>
                <label class="mt-2">First Name</label>
                <div class="border p-1">{{order.fname}}</div>
                <label class="mt-2">Last Name</label>
                <div class="border p-1">{{order.lname}}</div>
                <label class="mt-2">Email</label>
                <div class="border p-1">{{order.email}}</div>
                <label class="mt-2">Contact Number</label>
                <div class="border p-1">{{order.phone}}</div>
                <label class="mt-2">Address</label>
                <div class="border p-1">
                    {{order.province}}
                    {{order.district}}
                    {{order.city}}
                </div>
                <label class="mt-2">ZIP Code</label>
                <div class="border p-1">{{order.zipcode}}</div>
                
                   
            </div>
            <div class="col-lg-7 col-md-6 col-sm-8 col-md-push-1">
                <h4>Product Details</h4>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Total</td>
                        <td></td>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in orderitems %}
                    <tr>
                        <td>{{item.product.name}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price}}</td>
                        <td><img src="{{item.product.image.url}}" hieght="50px" width="50px" alt="img"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Grand Total : <span class="float-left">{{order.total}}</span></h4>
            <h6 class="border p-2">Payment : <span class="float-end">{{order.payment}}</span></h4>
            <h6 class="border p-2">Order Tracking Number : <span class="float-end">{{order.tracking_no}}</span></h4>
            <h6 class="border p-2">Status : <span class="float-end">{{order.status}}</span></h4>

        </div>



         </div>
        </div>
    </div>
</div>
</section>
{% endblock %}