{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table aa-wishlist-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Stock Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for list in wishlist_views %}
                      <tr>
                        <td><a class="remove" href="/delete_wishlist/{{list.slug}}"><fa class="fa fa-close"></fa></a></td>
                        <td><a href="#"><img src="{{list.items.image.url}}" alt="img"></a></td>
                        <td><a class="aa-cart-title" href="#">{{list.items.name}}</a></td>
                        <td>Rs. {{list.trueprice}}</td>
                        <td>{{list.items.stock}}</td>
                        <td><a href="/add_to_cart/{{list.slug}}" class="aa-add-to-cart-btn">Add To Cart</a></td>
                      </tr>
                    {% endfor %}
                      </tbody>
                  </table>
                </div>
             </form>             
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->


  <!-- Subscribe section -->
  <section id="aa-subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>Subscribe our newsletter </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
            <form action="" class="aa-subscribe-form">
              <input type="email" name="" id="" placeholder="Enter your Email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Subscribe section -->

{% endblock %}